body{
    
    background-color: rgb(250, 215, 249);
    size: bold;
}
.headersection{
    text-align: center;
    height: 200px;
   background-color:aquamarine;
   
}
a{
    margin: 10px;
}
section{
    background-color: blueviolet;
    height: 100%;
    width: 50%;
}
video{
    width: 100%;
    height: 100%;
    
}
.titl{
    text-align: center;
}